
body{
	background-color:#008080;
	font-family: "Lucida Grande", sans-serif;
}

.hidden {
	display: none!important;
}

/* 
FIRST SCREEN STYLE 
*/
#fs_all{

	width: 	420px;
	height: 700px;
	background: url('images/backgrounds/accueil-01_720.png') no-repeat center;
	background-size: cover;
	margin:	auto;

}

#fs_empty{
	width: 	100%;
	height: 80%;
}
#fs_logo{
	position: relative;
	width:250px;
	height:250px;
	top:30%;
	display:block;
    margin:auto;
}

#fs_slideContainer{
	width: 	200px;
	height: 50px;
	background-color: #AAA;
	margin:	auto;
	position:relative;

}

#fs_but{
	z-index:5;

	width: 	50px;
	height: 50px;
	position:absolute;
	right:150px;
    transition: right 0.5s ease-in-out;
}

.fs_transitionButton{    
	right: 0!important;
}
#fs_arrow{
	content:"";
	position: relative;
	margin:0;
	padding:0;
	left: 0px;
	bottom: 0px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 30px solid #AAA;
	border-bottom: 15px solid transparent;
}

#fs_textSlide{
	font-weight: bold;
	position:absolute;
	right:15%;
	top:25%;
	z-index:3;
	animation: flashingText 3s infinite;
	
}
@keyframes flashingText {
    0% {
    	color:black;
    }
    40% {
    	color:white;
    }
    60% {
    	color:white;
    }
    100% {
    	color:black;
    }
}


/* 
LAST SCREEN STYLE 
*/
#ls_all{
	width: 	420px;
	height: 700px;
	background: url('images/backgrounds/end-01_720.png') no-repeat center;
	background-size: cover;
	margin:	auto;
}
#ls_empty{
	width: 	100%;
	height: 80%;

}

#ls_but{
	width:200px;
	height: 50px;
    margin:0 auto;
    display:block;
	background: url('images/Button-reload.png')  center;
	border:0px;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	font-size: 150%;
	transition: filter 0.2s;
}
	
#ls_but:hover{
	filter: drop-shadow(0px 0px 8px rgb(255, 255, 255));
}
	/*border:0px transparent;
	background-color: #008080;




#chat_window{
	width: 	700px;
	margin:	auto;
}

#chat_window > div {
	/*display: 	inline-block;*/


/*
	Discussion list Style
*/
#chat_disc_list{  
	text-align:center;
    vertical-align:top;
	margin:	auto;
    padding:5px 0;
	width: 150px;
	background: url('images/Bandeau-bottom.png') no-repeat center;
	background-size: cover;
	width: 60%;
}  

#chat_curr_disc{
	margin:	auto;
	background-color: #EEEEEE;
	width: 60%;
}

#chat_curr_disc>.chat_discussion{
	height: 600px;

}


#chat_disc_list > .chat_disc_list_element{

	animation-name: disc_list_element_anim;
	animation-duration: 1.0s;
	display:inline-block;
	font-weight: bold;
	color: white;
	/*background-color: #D58E00;*/
	padding:0px;
	width:100px;
	margin:0 5px;
}
#chat_disc_list > .chat_disc_list_element >div{
	display: inline-block; 
	width: 100%;
	text-align: center;
	margin: auto;

}
#chat_disc_list > .chat_disc_list_element >.chat_disc_list_text {
	width: 100%;
}



#chat_disc_list > .chat_disc_list_element >div>img{
	display:block;
	width:60%;
	height: auto;
	margin: auto;
	border-radius:50%;
	border: 2px solid white;
}


#chat_disc_list > .chat_disc_list_element_current{
	/*background-color: #D50000;*/

}




.chat_emoji_IMG{
	height: 1.1em;
}

.chat_emoji_button_IMG{
	height: 3em;
}


/* 
	Answers of the player Style
*/
.chat_ans{
	height: 18%;
}
.chat_ans > div {
	width:90%;
	/*display: 	inline-block;*/
}
.chat_ans > .chat_ans_text{
	/*background-color: rgba(255,255,255,0.78);*/
	background-color: rgba(55,140,78,0.78);
	border: 2px solid white;
    box-shadow: 2px 2px 3px -2px #555555;
	color:white;
	font-weight: bold;
	text-align:center;
	margin: auto;
	padding: 2px;
	min-height: 40px;

}

.chat_ans_emoji_choice{
	margin:auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height:60px;
	/*float: right;*/
}
.chat_ans_emoji_choice>button{
	animation-name: chat_element;
	background-color: rgba(55,140,78,0.78);
	border: 2px solid white;
    box-shadow: 2px 2px 3px -2px #555555;
	color:white;
	font-weight: bold;
	animation-duration: 0.4s;
	margin: 0 2px;
	width:60px;
	height:60px;
}
.chat_ans_emoji_choice>button img{
	transition: filter 0.2s;
}
.chat_ans_emoji_choice>button:hover img{
	filter: drop-shadow(0px 0px 8px rgb(255, 255, 255));
	-webkit-filter: drop-shadow(0px 0px 8px rgb(255, 255, 255));
	/*filter: drop-shadow(0px 0px 8px rgb(11, 181, 255));*/
	/*-webkit-filter: drop-shadow(0px 0px 8px rgb(11, 181, 255));*/
	/*box-shadow: 0px 0px 15px 0px rgba(242,211,9,1);*/
}

/*
	Chat element (messages, overhaul) Style
*/

.chat_discussion{
	min-width: 70%;
	width: auto;
	padding: 5px;

}

.chat_pipeline{
	overflow: auto;
	height:82%;
}

.chat_pipeline_answer, .chat_pipeline_message{
	/*border-radius: 3px;*/
	font-weight: bold;
	color: white;
    box-shadow: 2px 2px 3px -2px #555555;
	margin:10px;
	padding:5px;
	width:200px;


}


.chat_pipeline_answer{
	float:right;
	clear: both;
	/*border: 1px solid darkgreen;*/
	background-color: rgba(55,140,78,1);
	margin-right:20px;
}
.chat_pipeline_answer:before { 
	content:"";
	position: relative;
	margin:0;
	padding:0;
	left: 205px;
	bottom: 9.5px;
	width: 0;
	height: 0;
	border-bottom: 15px solid rgba(55,140,78,1);
	border-right: 15px solid transparent;
}


.chat_pipeline_message{
	float:left;
	clear: both;
	/*border: 1px solid darkblue;*/
	background-color: #008080;
	margin-left:20px;


}
.chat_pipeline_message:before { 
	content:"";
	position: relative;
	margin:0;
	padding:0;
	right: 20px;
	top: 9px;
	width: 0;
	height: 0;
	border-top: 15px solid #008080;
	border-left: 15px solid transparent;
}

/*Animation*/
 @keyframes chat_element{
 	0% {
 		opacity: 	0;
		transform: scale3d(0.6,0.6,0.6);
 	}
 	40% {
		transform: scale3d(1.05,1.05,1.05);
 	}
 	80% {
		transform: scale3d(0.97,0.97,0.97);
 	}
 	100% {
 		opacity: 	1;
		transform: scale3d(1,1,1);
 	}
 }

.chat_pipeline_element{
	animation-name: chat_element;
	animation-duration: 0.4s;
	font-size: 120%;
}

.chat_pipeline_spinner {
	text-align: center;
}




@keyframes chat_waiting_bounce{
	0%,100%{
		transform: scale(0.1);
	}
	50%{
		transform: scale(1);
	}

}
.chat_pipeline_spinner{
	width: 70px;
}
.chat_pipeline_spinner:before { 
	content:"";
	border: 0px solid transparent;
}

.chat_pipeline_spinner > div{
	width: 		8px;
	height: 	24px;
	background-color: white;

	display: 	inline-block;
	animation: 	chat_waiting_bounce 1.2s infinite ease-in-out both;
}

.chat_pipeline_spinner .chat_bouncer2{
	animation-delay: 0.2s;
}

.chat_pipeline_spinner .chat_bouncer3{
	animation-delay: 0.40s;
}

.chat_pipeline_spinner .chat_bouncer4{
	animation-delay: 0.60s;
}

 @keyframes disc_list_element_anim{
 	0% {
 		opacity: 0;
		transform: scale3d(0,0,0);
 	}
 	20% {
		transform: scale3d(0.8,0.8,0.8);
 	}
 	40% {
 		opacity: 	1;
		transform: scale3d(1.20,1.20,1.20);
	}
 	60% {
		transform: scale3d(0.97,0.97,0.97);
	}
 	80% {
		transform: scale3d(1.1,1.1,1.1);
 	}
 	100% {
		transform: scale3d(1,1,1);
 	}
 }