
body{
	background-color:#008080;
	
}

.hidden {
	display: none;
}



#chat_window{
	width: 	700px;
	margin:	auto;
	background-color: #EEEEEE;
	
	
}

#chat_window > div {
	display: 	inline-block;
}

#chat_disc_list{;   
    vertical-align:top;
	width: 150px;
}
#chat_curr_disc{
	width: 60%;
}

#chat_disc_list > .chat_disc_list_element{
	font-weight: bold;
	color: white;
	background-color: #DBC64F;
	padding:5px;
	width:100px;
}

#chat_disc_list > .chat_disc_list_element_current{
	background-color: #E69927;
}


.chat_discussion{
	min-width: 70%;
	width: auto;

}

.chat_pipeline{
	overflow: auto;
	
	
}

.chat_ans{
	background-color: white;
	min-height: 40px;
}

.chat_pipeline_answer, .chat_pipeline_message{
	/*border-radius: 3px;*/
	font-weight: bold;
	color: white;
    box-shadow: 2px 2px 3px -2px #555555;
	margin:10px;
	padding:5px;
	width:200px;


}


.chat_pipeline_answer{
	float:right;
	clear: both;
	/*border: 1px solid darkgreen;*/
	background-color: #19bc19;
	margin-right:20px;
}
.chat_pipeline_answer:before { 
	content:"";
	position: relative;
	margin:0;
	padding:0;
	left: 205px;
	bottom: 9.5px;
	width: 0;
	height: 0;
	border-bottom: 15px solid #19bc19;
	border-right: 15px solid transparent;
}


.chat_pipeline_message{
	float:left;
	clear: both;
	/*border: 1px solid darkblue;*/
	background-color: #008080;
	margin-left:20px;


}
.chat_pipeline_message:before { 
	content:"";
	position: relative;
	margin:0;
	padding:0;
	right: 20px;
	top: 9px;
	width: 0;
	height: 0;
	border-top: 15px solid #008080;
	border-left: 15px solid transparent;
}

/*Animation*/
 @keyframes chat_element{
 	0% {
 		opacity: 	0;
		transform: scale3d(0.6,0.6,0.6);
 	}
 	40% {
		transform: scale3d(1.05,1.05,1.05);
 	}
 	80% {
		transform: scale3d(0.97,0.97,0.97);
 	}
 	100% {
 		opacity: 	1;
		transform: scale3d(1,1,1);
 	}
 }

.chat_pipeline_element{
	animation-name: chat_element;
	animation-duration: 0.4s;
}

.chat_pipeline_spinner {
	text-align: center;
}




@keyframes chat_waiting_bounce{
	0%,100%{
		transform: scale(0.1);
	}
	50%{
		transform: scale(1);
	}

}
.chat_pipeline_spinner{
	width: 70px;
}
.chat_pipeline_spinner:before { 
	content:"";
	border: 0px solid transparent;
}

.chat_pipeline_spinner > div{
	width: 		8px;
	height: 	24px;
	background-color: white;

	display: 	inline-block;
	animation: 	chat_waiting_bounce 1.2s infinite ease-in-out both;
}

.chat_pipeline_spinner .chat_bouncer2{
	animation-delay: 0.2s;
}

.chat_pipeline_spinner .chat_bouncer3{
	animation-delay: 0.40s;
}

.chat_pipeline_spinner .chat_bouncer4{
	animation-delay: 0.60s;
}
